<ul>
  <%@movies.each do |movie|%>
    <li>
      <strong><%=movie.name%></strong>
      Description: <%=movie.description%>
      Rating: <%=movie.rating%>
      Total Gross: <%=movie.total_gross%>
      </li>
    <%end%>
</ul>
